Pleasework/.vs/Pleasework/v17/.suo
Pleasework/.vs/Pleasework/v17/.futdcache.v2
Pleasework/.vs/Pleasework/FileContentIndex/34f0e6b1-96aa-4736-b362-cceaaf2aa541.vsidx
Pleasework/.vs/Pleasework/FileContentIndex/055e5200-984c-4f8b-b6ac-e4964406c65d.vsidx
Pleasework/.vs/Pleasework/FileContentIndex/0289d194-24e5-470b-844a-ecbfb3040e4e.vsidx
Pleasework/.vs/Pleasework/FileContentIndex/a3aafc5e-2e30-4d26-9090-b77ce6066e63.vsidx
Pleasework/.vs/Pleasework/FileContentIndex/ed784882-51ce-4c59-89c6-accaa072e25c.vsidx
Pleasework/.vs/Pleasework/v17/DocumentLayout.backup.json
Pleasework/.vs/Pleasework/v17/DocumentLayout.json
Pleasework/.vs/Pleasework/xs/project-cache/Pleasework-Debug.json
Pleasework/.vs/ProjectEvaluation/pleasework.metadata.v9.bin
Pleasework/.vs/ProjectEvaluation/pleasework.projects.v9.bin
Pleasework/.vs/ProjectEvaluation/pleasework.strings.v9.bin
Pleasework/.vs/